<center>
<section style="background-color: #2d92ff; width: 700px; margin-top: 50px;">
  <label style="font-size: 20px; color: #fff; text-align: center">Editar Pieza</label>
</section>

<%= render 'form' %>
</center>