<center>
<section style="background-color: #2d92ff; width: 700px;">
  <label style="font-size: 20px; color: #fff; text-align: center">Registrar Materia Prima</label>
</section>
  </center>
<%= render 'form' %>

