<script>
  $('#table').dataTable({
    sPaginationType: 'full_numbers',
    bJQueryUI: true,
    dom: 'frtip',
    aLengthMenu: [[10, 25, 50], [10, 25, "Todo"]],
    language: {
      "sProcessing": "Procesando...",
      "sLengthMenu": "_MENU_",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
        "sFirst": " << ",
        "sLast": " >> ",
        "sNext": " > ",
        "sPrevious": " < "
      },
      searchPlaceholder: "Buscar..."
    }
  });
</script>
<p id="notice"><%= notice %></p>


<section style="">
      <table id="table" class="display nowrap" cellspacing="0">
        <thead>
        <tr>
          <th>Tipo de Categoria</th>
          <th>Opcion</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Tipo de Categoria</th>
          <th>Opcion</th>
        </tr>
        </tfoot>
        <tbody>
        <% @categories.each do |category| %>
            <tr>
              <td><%= category.type_category %></td>
              <td><%= link_to_modal 'Editar', edit_category_path(category) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
</section>